

/*Emp=emphasis*/
@media (prefers-color-scheme:light) {
  :root {
      color-scheme:normal;
      --bg-colorRoot:white;
      --bg-color:#eee;
      --bg-colorEmp:#ddd;
      --bg-colorImg:lightblue;
      --bg-green:lightgreen;
      --bg-red:#ff7f7f;
      --bg-blue:lightblue;
      --bg-yellow:yellow;
      --bg-orange:orange;
      --text-color:#123;
      --border-color:#123;
      --link-external:#36b;
      --link-external-visited:#636;
      --bg-seller:lightblue;
      --bg-buyer:pink;
      --invert:0;
  }
  .boxShadowOn {box-shadow:0 0 0 0.2em lightgreen inset; background-color:#eee; color:limegreen}
  .boxShadowOff {box-shadow:0 0 0 0.2em darkgrey inset; background-color:#ddd}
}
@media (prefers-color-scheme:dark) {
  :root {
      color-scheme:dark;
      --bg-colorRoot:#202020;
      --bg-color:#303030;
      --bg-colorEmp:#3f3f3f;
      --bg-colorImg:#005470;
      --bg-green:#007300;
      --bg-red:#c00020;
      --bg-blue:#005470;
      --bg-yellow:#707000;
      --bg-orange:#b17300;
      --text-color:#dddddd;
      --border-color:#dddddd;
      --link-external:#5487df;
      --link-external-visited:#b477b4;
      --bg-seller:#1e8aad;
      --bg-buyer:#d8566b;
      --invert:1;
  }
  a:link{color:#368cff}
  a:visited{color:#de41ff}
  .boxShadowOn {box-shadow:0 0 0 0.2em lightgreen inset; background-color:var(--bg-colorEmp); color:limegreen}
  .boxShadowOff {box-shadow:0 0 0 0.2em #777 inset; background-color:var(--bg-color); color:darkgrey}
  .invertOnDark {filter:invert(1)}
  .invertOnDarkBright {filter:invert(1) brightness(1.4)}
  
}
:root {
  color-scheme:light dark;
  background:var(--bg-colorRoot)
}


* {box-sizing:border-box}
html, body { -webkit-overflow-scrolling:touch; }
body {overscroll-behavior:contain;}

  /* Is there really a difference using this. Tested values "100%" and "none" (Used by Chrome, Edge. Not used by Safari, Firefox) */
/* body { -webkit-text-size-adjust:none; } */

  /* -webkit-appearance:none is required to make disabled buttons have grey text on Safari. */
html, body {-webkit-appearance:none}
select, button, input  {color:inherit} /* Removing blue text in buttons ... on Safari */
:disabled {color:grey}
input, button, textarea, select { font:inherit; }  /* Preventing zoom, especially on Safari. */


button::-moz-focus-inner {padding:0; border:0} /*Making firefox buttons behave like other browsers (doesn't appear to do any difference)*/
button {appearance:none; border:solid 1px; border-radius:2px; user-select:none; padding:0 3px}

p {
  margin:0.5em 0em 0.5em 0em;
  line-height:1.2em;
}



table {border-collapse:collapse;}
td,th {border:1px solid}
td,th {min-width:1.6em; text-align:center; vertical-align:middle}

input, textarea, keygen, select, button, isindex  {font-family:arial, verdana, helvetica;font-size:inherit}

input[type='text'].name { width:10em; min-width:2em} 
/* button {
border-radius:2px;
border:solid 1px grey;
margin:2px;
padding:1px 6px;
} */


.mainDiv {
  margin:0em auto;
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  max-width:800px
}
.contDiv {
  flex:1 1 auto;
  overflow-y:scroll;
  height:100%
}
/* .footDiv {
  margin:0em auto;
  max-width:800px;
  width:100%;
  padding:1.2em 0 1em;
  border-top:solid 1px;
  position:relative;
  flex:0 0 auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
} */
.footDiv{
  position: fixed;
  bottom: 0;
  width: min(100%, var(--maxWidth));
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap:0.8em;
  background: var(--bg-color);
  border-top: 1px solid var(--border-color);
  opacity: 0.9;
}


.message{
  border: 1px solid;
  position:absolute;
  bottom:0%;
  right:0%;
  margin:0;
  padding:1px;
  background-color:var(--bg-yellow);
  font-size:0.8em;
  z-index:10000;
}

.popupHover {
  position:absolute;
  z-index:9500;
  padding:0.2em;
  margin-left:.7em;
  margin-top:.3em;
  max-width:16em;
  border:var(--border-color) 1px solid;
  background-color:var(--bg-color);
  color:var(--text-color);
  font-size:0.95em;
}


.blanket{
  position:relative;
  width:100%;
  height:100%;
  background-color:var(--bg-color);
  opacity:0.5;
  position:fixed;
  top:0px;
  z-index:9001;
}

.Center-Container-Flex { position:fixed; left:0px; top:0px; width:100%; height:100%; display:flex; z-index:9001;}
.Center-Flex {
  max-width:95%;
  max-height:98%;
  padding:0.5em;
  overflow:auto;
  margin:auto;
  background-color:var(--bg-color);
  border:1px solid;
  z-index:9002;
}



.btn-round {
  text-align:center;
  width:1.6em;
  height:1.6em;
  border-radius:100%;
  border:1px solid;
  display:inline-block;
  text-decoration:none;
  line-height:1.8em; /* to make it look good on safari */
  cursor:default;
  overflow:hidden;
  vertical-align:bottom;
  padding-top:1px
}
.helpButton {
  background-image:radial-gradient(#daeaff, #8cbdfd, #0064ea);
  border:0;
  font-weight:bold;
  font-size:0.9rem;
}

